<h1>New comment</h1>

<% if signed_in? %>
	<%= render 'form' %>
<% else %>
	<%= link_to "Sign in with Github", "/auth/github", class: "btn btn-large btn-primary" %>
	<button class="btn-auth btn-github">Sign in with <b>GitHub</b></button>
<% end %>

<%= link_to 'Back', resources_path %>