<% provide(:title, 'Users') %>

<h1>Users</h1>

<table cellpadding="5">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><h1><%= gravatar_for(user) %></h1></td>
    <td><%= link_to "#{user.name}", user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Delete User", user_path(user), :method => :delete, :class => 'action' %></td>
  </tr>
<% end %>
</table>

<br />