<h1>Manage tags</h1>
<table>
<% @tags.each do |tag| %>
	<tr>
  <td><span class="label label-info"><a href="<%= resources_path(:tag => tag.name) %>" class="tag"> <%= tag.name %></a></span></td>
  <td><p>edit</p></td>
  <td><%= link_to "Delete Tag", tag_path(tag), data: {confirm: 'Are you sure you want to delete this tag?'}, :method => :delete, :class => 'action' %></td> 
  </tr>
  <% end %>
 </table>
 <%= render 'tags/form' %>
