<% provide(:title, 'Post a Resource') %>
<h1>Post a resource</h1>

<% if signed_in? %>
	<%= render 'form' %>
<% else %>
	<p><%= "You must sign-in to post a Resource" %></p>
	<p><%#= link_to "Sign in with Github", "/auth/github", class: "btn btn-large btn-primary" %></p>
<% end %>

<%= link_to 'Back', resources_path %>
