/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .content {
 	padding: 20px;
 	background-color: #eee;
 	margin: 0 -20px;
 	border-radius: 0 0 6px 6px;
 	border: 1px solid rgba(0, 0, 0, 0.1);
 	box-shadow: 0 1px 3px rgba(0,0,0,.15);
 }

.resource-box {
	background-color: #F8F8F8;
	border-radius: 5px;
	/*border: 2.5px solid;*/
	padding: 20px;
	border-color: black;
}

.text-section {	
	width: 70%; 
	float: left;
}

.rating-button {
}

.rating-section {
    width: 30%;
    float: right;
}

.rating-box {
	visibility: hidden;
}

a {
	color: blue;
}

ul.tags{
    background-color: #eee;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    list-style-type: none;
    font-family: Helvetica;
    display: inline-block;
}

ul.tags li {
    color: #444;
    padding: 10px 20px;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 5px;
    border-radius: 4px;
}

post-resource {
}


.rating-buttons, .rating-labels {
    height: 20px;
    & li, label {
        width: 30px;
        float: left;
    }
    & ul {
        margin: 0 0 10px 0;
    }
}

.myCheckbox .checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin:-1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.myCheckbox .checkbox:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    width: auto;
}

.myCheckbox {
    height: 15px;
    border: 1px solid grey;
    display: inline-block;
    padding: 3px 10px;
    background-color: #3a87ad;
    border-radius: 3px;
}

.myCheckbox.checked {
    background-color: #5bc0de;
    color: white;
}

.tag-label {
    color: white;
}