/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .content {
 	padding: 20px;
 	background-color: #eee;
 	margin: 0 -20px;
 	border-radius: 0 0 6px 6px;
 	border: 1px solid rgba(0, 0, 0, 0.1);
 	box-shadow: 0 1px 3px rgba(0,0,0,.15);
 }

.resource-box {
	background-color: #F8F8F8;
	border-radius: 5px;
	/*border: 2.5px solid;*/
	padding: 20px;
	border-color: black;
}

.text-section {	
	width: 70%; 
	float: left;
}

.rating-button {
}

.rating-section {
}

.rating-box {
	visibility: hidden;
}

a {
	color: blue;
}

ul.tags{
    background-color: #eee;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    list-style-type: none;
    font-family: Helvetica;
    display: inline-block;
}

ul.tags li {
    color: #444;
    padding: 10px 20px;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 5px;
    border-radius: 4px;
}

post-resource {
}